<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="onChange()"></ion-searchbar>
  <a
    *ngFor="let _ of cards; let i = index"
    appRelativeRouterLink="article/{{ i }}"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Article #{{ i }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper
        sed odio non dignissim. Suspendisse rutrum nisl lorem, nec faucibus nisi
        finibus quis...
      </ion-card-content>
    </ion-card>
  </a>
</ion-content>
